<?xml version="1.0" encoding="utf-8"?>
<!-- Il test di RegionPackageInstaller serve i pacchetti da un MockWebServer locale, in chiaro. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/network_security_config_test" />
</manifest>
